# Pandas Advance-2 Assignment Questions

Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
loc: This function is used for label-based indexing. It allows you to access data based on the labels of rows or columns. With loc, you can specify the row and column labels explicitly.

iloc: This function is used for integer-based indexing. It allows you to access data based on the integer position of rows or columns. With iloc, you can specify the row and column indices explicitly.

In [7]:
df.loc[0:2] #loc uses labels for indexing, whereas iloc uses integer positions

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
df.iloc[0:2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.460377  0.503616  0.550218  0.657339  0.822847  0.448624
2  0.516643  0.218409  0.514105  0.512515  0.898941  0.767816
3  0.159324  0.737479  0.632847  0.305748  0.545512  0.567595
4  0.642211  0.483091  0.624171  0.587025  0.672264  0.931410
5  0.310936  0.910285  0.340444  0.916832  0.072428  0.149841
6  0.464786  0.810264  0.673525  0.093926  0.000136  0.887995

In [17]:
 reindex = [3,0,1,2]
new_df = df1.reindex(reindex)
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.159324  0.737479  0.632847  0.305748  0.545512  0.567595
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.460377  0.503616  0.550218  0.657339  0.822847  0.448624
2  0.516643  0.218409  0.514105  0.512515  0.898941  0.767816

In [18]:
new_df.loc[2]

column_1    0.516643
column_2    0.218409
column_3    0.514105
column_4    0.512515
column_5    0.898941
column_6    0.767816
Name: 2, dtype: float64

In [19]:
new_df.iloc[2]

column_1    0.460377
column_2    0.503616
column_3    0.550218
column_4    0.657339
column_5    0.822847
column_6    0.448624
Name: 1, dtype: float64

In [20]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Reindexing the DataFrame:
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

print(new_df)

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.561173  0.721858  0.274183  0.155379  0.098769  0.743574
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.062287  0.353867  0.799980  0.938910  0.404916  0.438488
2  0.653550  0.661069  0.085173  0.787219  0.588856  0.277398

In [21]:
print(new_df.loc[2])
print(new_df.iloc[2])

column_1    0.653550
column_2    0.661069
column_3    0.085173
column_4    0.787219
column_5    0.588856
column_6    0.277398
Name: 2, dtype: float64
column_1    0.062287
column_2    0.353867
column_3    0.799980
column_4    0.938910
column_5    0.404916
column_6    0.438488
Name: 1, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [22]:
df1.mean()

column_1    0.351434
column_2    0.403693
column_3    0.502862
column_4    0.656320
column_5    0.421324
column_6    0.487266
dtype: float64

In [26]:
df1["column_2"].std()

0.2410383966846871

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [27]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.640764  0.860453  0.371718  0.998732  0.317477  0.108258
2  0.477493  0.693070  0.053941  0.448277  0.377874  0.624103
3  0.144599  0.680822  0.066199  0.297243  0.989403  0.096723
4  0.751908  0.680806  0.930926  0.236008  0.656087  0.835139
5  0.903846  0.282198  0.931912  0.436760  0.759648  0.039089
6  0.447866  0.892305  0.143041  0.756218  0.490555  0.672207

In [35]:
 df1.loc["column_2"] = 'string1'

In [36]:
column_2_mean = df1['column_2'].mean()
column_2_mean
#it will raise a TypeError because the mean function cannot operate on a column that contains non-numeric values.

TypeError: can only concatenate str (not "float") to str

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
In pandas, a window function is a way to perform calculations on a subset of data within a larger dataset. It allows you to apply a function to a rolling window of data, where the size of the window is determined by a specified number of rows or a time period.

There are several types of window functions available in pandas:

Rolling window functions: These functions operate on a sliding window of a fixed size and compute a single output value for each window. Examples include rolling mean, rolling standard deviation, rolling sum, etc.

Expanding window functions: These functions include all previous rows in the calculation, so the size of the window grows with each new row. Examples include expanding mean, expanding sum, etc.

Exponentially weighted window functions: These functions assign exponentially decreasing weights to the data in the window, with the most recent values given the highest weight. Examples include exponentially weighted moving average, etc.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [41]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

# Create a pandas datetime object
pandas_datetime = pd.to_datetime(f'{current_month}/01/{current_year}', format='%m/%d/%Y')

# Print the current month and year
print("Current Month:", pandas_datetime.strftime("%B"))
print("Current Year:", current_year)

Current Month: June
Current Year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [47]:
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
time_diff = date2 - date1

# Extract the difference in days, hours, and minutes
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60


print("Difference between the two dates:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD): 2023-2-3
Enter the second date (YYYY-MM-DD): 2023-4-5
Difference between the two dates:
Days: 61
Hours: 0
Minutes: 0

In [49]:
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
x = pd.Timedelta(date2 - date1)
x

Enter the first date (YYYY-MM-DD): 2023-3-3
Enter the second date (YYYY-MM-DD): 2023-4-5

Timedelta('33 days 00:00:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

import csv
with open('student_data','w', newline = '') as file :
    writer = csv.writer(file)
writer.writerow(["statistic",'value'])
writer.writerow( ['mean','median','mode'])
writer.writerow( [79.6,82,85.90])

In [58]:
student_data = pd.DataFrame({"statistic":['mean','median','mode'],
                            'value': [79.6,82,85.90]})
student_data

  statistic  value
0      mean   79.6
1    median   82.0
2      mode   85.9

In [60]:
import pandas as pd
file_path = input("Enter the file path: ")
df = pd.read_csv(file_path)
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated values): ").split(",")
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
sorted_df = df.sort_values(column_name)

# Display the sorted data
print("Sorted Data:")
print(sorted_df)

Enter the file path: titanic_train.csv
Enter the column name: Embarked
Enter the category order (comma-separated values): C,S
Sorted Data:
     Unnamed: 0  PassengerId  Survived  Pclass  \
889         889          890         1       1
691         691          692         1       3
255         255          256         1       3
256         256          257         1       1
258         258          259         1       1
..          ...          ...       ...     ...
825         825          826         0       3
828         828          829         1       3
829         829          830         1       1
885         885          886         0       3
890         890          891         0       3

                                          Name     Sex   Age  SibSp  Parch  \
889                      Behr, Mr. Karl Howell    male  26.0      0      0
691                         Karun, Miss. Manca  female   4.0      0      1
255    Touma, Mrs. Darwis (Hanne Youssef Razi)  female  29.0      0      2
256             Thorne, Mrs. Gertrude Maybelle  female   NaN      0      0
258                           Ward, Miss. Anna  female  35.0      0      0
..                                         ...     ...   ...    ...    ...
825                            Flynn, Mr. John    male   NaN      0      0
828               McCormack, Mr. Thomas Joseph    male   NaN      0      0
829  Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0      0
885       Rice, Mrs. William (Margaret Norton)  female  39.0      0      5
890                        Dooley, Mr. Patrick    male  32.0      0      0

       Ticket      Fare Cabin Embarked
889    111369   30.0000  C148        C
691    349256   13.4167   NaN        C
255      2650   15.2458   NaN        C
256  PC 17585   79.2000   NaN        C
258  PC 17755  512.3292   NaN        C
..        ...       ...   ...      ...
825    368323    6.9500   NaN      NaN
828    367228    7.7500   NaN      NaN
829    113572   80.0000   B28      NaN
885    382652   29.1250   NaN      NaN
890    370376    7.7500   NaN      NaN

[891 rows x 13 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
file_path = input("Enter the file path: ")
df = pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])
grouped_df = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()

# Plot the stacked bar chart
grouped_df.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.title('Sales by Product Category over Time')
plt.xlabel('Date')
plt.ylabel('Sales')


plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
file_path = input("enter file path :  ")
df = pd.read_csv(file_path)
mean_score = df['Test_Score:'].mean()
median_score = df['Test_Score:'].median()
mode_scores = df['Test_Score:'].mode()


results_df = pd.DataFrame({'Metric': ['Mean', 'Median', 'Mode'],
                           'Score': [mean_score, median_score, mode_scores]})
print(results_df)
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

In [ ]:
import pandas as pd
student_data = { "Student_Id" : [1,2,3,4,5,6,7,8,9,10],
             "Test_Score" : [85,90,80,75,85,82,78,85,90,85] }
data = pd.DataFrame(student_data)
data

In [ ]:
file_path = 'data.csv'
df.to_csv(file_path, index=False)
print(f"CSV file '{file_path}' created successfully.")

In [ ]:
mean_score = df['Test_Score:'].mean()
median_score = df['Test_Score:'].median()
mode_scores = df['Test_Score:'].mode()


results_df = pd.DataFrame({'Metric': ['Mean', 'Median', 'Mode'],
                           'Score': [mean_score, median_score, mode_scores]})